#Authentication settings for discord bot
APP_ID=
DISCORD_TOKEN=
PUBLIC_KEY=

GUILD_ID=
ROLE_ID=
REPORT_USER_ID=

INTERVAL_MS=1800000    # 30 minutes || 30 * 60 * 1000 = 1800000 ms
WORK_START_HOUR=8   # 8 AM
WORK_END_HOUR=16    # 4 PM
TIME_ZONE= 'Europe/Warsaw'  # Time zone for work hours
DM_DELAY_MS = 1500  # 1.5 seconds delay between DMs to avoid rate limits || 15 * 100 ms = 1500 ms

FOLDER_NAME= 'raporty'  # Folder name for storing reports