#Authentication settings for discord bot
APP_ID=
DISCORD_TOKEN=
PUBLIC_KEY=

GUILD_ID=
ROLE_ID=
REPORT_USER_ID=

DM_DELAY_MS = 1500  # 1.5 seconds delay between DMs to avoid rate limits || 15 * 100 ms = 1500 ms

FOLDER_NAME= 'raporty'  # Folder name for storing reports